body {
  background: rgba(89, 11, 235, 0.212);
  padding: 60px;
}

* {
  font-family: Arial, Helvetica, sans-serif;
}

input {
  display: flex;
  width: 60%;
  margin-left: 20%;
  margin-right: 20%;
}

.card-grid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.card {
  align-items: center;
  border: 1px solid gray;
  border-radius: 6px;
  margin-bottom: 10px;
  margin-right: 10px;
  overflow: hidden;
}

.card p {
  padding: 5px;
  text-align: center;
}

.card img {
  width: 100%;
  max-height: 170px;
}

h3 {
  text-transform: capitalize;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.hola {
  text-align: center;
}

@media (max-width: 600px) {
  .ol {
    display: contents;
  }
}

.ul {
  margin-right: 25px
}
